In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
import pandas as pd 
import random
import math
import time
import os
from sklearn.linear_model import LinearRegression, BayesianRidge
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import datetime
import operator 
plt.style.use('fivethirtyeight')
%matplotlib inline

In [26]:
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveries_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [29]:
# Analyse data
latest_data.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

In [28]:
## Test same columns
print(np.all(confirmed_df.columns == deaths_df.columns))
print(np.all(deaths_df.columns == recoveries_df.columns))
print(np.all(deaths_df.columns == latest_data.columns))

True
True

ValueError: Lengths must match to compare

In [5]:
print(confirmed_df['Country/Region'].unique().size, 
deaths_df['Country/Region'].unique().size,
recoveries_df['Country/Region'].unique().size)

188 188 188

In [6]:
for i in range(recoveries_df['Country/Region'].unique().size):
    print(
        recoveries_df['Country/Region'].unique()[i] == deaths_df['Country/Region'].unique()[i],
        confirmed_df['Country/Region'].unique()[i], 
        deaths_df['Country/Region'].unique()[i],
        recoveries_df['Country/Region'].unique()[i])
# décallage dans les indices pour deaths_df
# nom non consistant (ex : republic)
# -> simplification, selections de quelque pays

True Afghanistan Afghanistan Afghanistan
True Albania Albania Albania
True Algeria Algeria Algeria
True Andorra Andorra Andorra
True Angola Angola Angola
True Antigua and Barbuda Antigua and Barbuda Antigua and Barbuda
True Argentina Argentina Argentina
True Armenia Armenia Armenia
True Australia Australia Australia
True Austria Austria Austria
True Azerbaijan Azerbaijan Azerbaijan
True Bahamas Bahamas Bahamas
True Bahrain Bahrain Bahrain
True Bangladesh Bangladesh Bangladesh
True Barbados Barbados Barbados
True Belarus Belarus Belarus
True Belgium Belgium Belgium
False Benin Benin Belize
False Bhutan Bhutan Benin
False Bolivia Bolivia Bhutan
False Bosnia and Herzegovina Bosnia and Herzegovina Bolivia
False Brazil Brazil Bosnia and Herzegovina
False Brunei Brunei Brazil
False Bulgaria Bulgaria Brunei
False Burkina Faso Burkina Faso Bulgaria
False Cabo Verde Cabo Verde Burkina Faso
False Cambodia Cambodia Cabo Verde
False Cameroon Cameroon Cambodia
False Canada Canada Cameroon
False Central African Republic Central African Republic Canada
False Chad Chad Central African Republic
False Chile Chile Chad
False China China Chile
False Colombia Colombia China
False Congo (Brazzaville) Congo (Brazzaville) Colombia
False Congo (Kinshasa) Congo (Kinshasa) Congo (Brazzaville)
False Costa Rica Costa Rica Congo (Kinshasa)
False Cote d'Ivoire Cote d'Ivoire Costa Rica
False Croatia Croatia Cote d'Ivoire
False Diamond Princess Diamond Princess Croatia
False Cuba Cuba Diamond Princess
False Cyprus Cyprus Cuba
False Czechia Czechia Cyprus
False Denmark Denmark Czechia
False Djibouti Djibouti Denmark
False Dominican Republic Dominican Republic Djibouti
False Ecuador Ecuador Dominica
False Egypt Egypt Dominican Republic
False El Salvador El Salvador Ecuador
False Equatorial Guinea Equatorial Guinea Egypt
False Eritrea Eritrea El Salvador
False Estonia Estonia Equatorial Guinea
False Eswatini Eswatini Eritrea
False Ethiopia Ethiopia Estonia
False Fiji Fiji Eswatini
False Finland Finland Ethiopia
False France France Fiji
False Gabon Gabon Finland
False Gambia Gambia France
False Georgia Georgia Gabon
False Germany Germany Gambia
False Ghana Ghana Georgia
False Greece Greece Germany
False Guatemala Guatemala Ghana
False Guinea Guinea Grenada
False Guyana Guyana Greece
False Haiti Haiti Guatemala
False Holy See Holy See Guinea
False Honduras Honduras Guinea-Bissau
False Hungary Hungary Guyana
False Iceland Iceland Haiti
False India India Holy See
False Indonesia Indonesia Honduras
False Iran Iran Hungary
False Iraq Iraq Iceland
False Ireland Ireland India
False Israel Israel Indonesia
False Italy Italy Iran
False Jamaica Jamaica Iraq
False Japan Japan Ireland
False Jordan Jordan Israel
False Kazakhstan Kazakhstan Italy
False Kenya Kenya Jamaica
False Korea, South Korea, South Japan
False Kuwait Kuwait Jordan
False Kyrgyzstan Kyrgyzstan Kazakhstan
False Latvia Latvia Kenya
False Lebanon Lebanon Korea, South
False Liberia Liberia Kuwait
False Liechtenstein Liechtenstein Kyrgyzstan
False Lithuania Lithuania Latvia
False Luxembourg Luxembourg Lebanon
False Madagascar Madagascar Liberia
False Malaysia Malaysia Libya
False Maldives Maldives Liechtenstein
False Malta Malta Lithuania
False Mauritania Mauritania Luxembourg
False Mauritius Mauritius Madagascar
False Mexico Mexico Malaysia
False Moldova Moldova Maldives
False Monaco Monaco Mali
False Mongolia Mongolia Malta
False Montenegro Montenegro Mauritania
False Morocco Morocco Mauritius
False Namibia Namibia Mexico
False Nepal Nepal Moldova
False Netherlands Netherlands Monaco
False New Zealand New Zealand Mongolia
False Nicaragua Nicaragua Montenegro
False Niger Niger Morocco
False Nigeria Nigeria Mozambique
False North Macedonia North Macedonia Namibia
False Norway Norway Nepal
False Oman Oman Netherlands
False Pakistan Pakistan New Zealand
False Panama Panama Nicaragua
False Papua New Guinea Papua New Guinea Niger
False Paraguay Paraguay Nigeria
False Peru Peru North Macedonia
False Philippines Philippines Norway
False Poland Poland Oman
False Portugal Portugal Pakistan
False Qatar Qatar Panama
False Romania Romania Papua New Guinea
False Russia Russia Paraguay
False Rwanda Rwanda Peru
False Saint Lucia Saint Lucia Philippines
False Saint Vincent and the Grenadines Saint Vincent and the Grenadines Poland
False San Marino San Marino Portugal
False Saudi Arabia Saudi Arabia Qatar
False Senegal Senegal Romania
False Serbia Serbia Russia
False Seychelles Seychelles Rwanda
False Singapore Singapore Saint Kitts and Nevis
False Slovakia Slovakia Saint Lucia
False Slovenia Slovenia Saint Vincent and the Grenadines
False Somalia Somalia San Marino
False South Africa South Africa Saudi Arabia
False Spain Spain Senegal
False Sri Lanka Sri Lanka Serbia
False Sudan Sudan Seychelles
False Suriname Suriname Singapore
False Sweden Sweden Slovakia
False Switzerland Switzerland Slovenia
False Taiwan* Taiwan* Somalia
False Tanzania Tanzania South Africa
False Thailand Thailand Spain
False Togo Togo Sri Lanka
False Trinidad and Tobago Trinidad and Tobago Sudan
False Tunisia Tunisia Suriname
False Turkey Turkey Sweden
False Uganda Uganda Switzerland
False Ukraine Ukraine Syria
False United Arab Emirates United Arab Emirates Taiwan*
False United Kingdom United Kingdom Tanzania
False Uruguay Uruguay Thailand
False US US Timor-Leste
False Uzbekistan Uzbekistan Togo
False Venezuela Venezuela Trinidad and Tobago
False Vietnam Vietnam Tunisia
False Zambia Zambia Turkey
False Zimbabwe Zimbabwe Uganda
False Dominica Dominica Ukraine
False Grenada Grenada United Arab Emirates
False Mozambique Mozambique United Kingdom
False Syria Syria Uruguay
False Timor-Leste Timor-Leste US
False Belize Belize Uzbekistan
False Laos Laos Venezuela
False Libya Libya Vietnam
False West Bank and Gaza West Bank and Gaza Zambia
False Guinea-Bissau Guinea-Bissau Zimbabwe
False Mali Mali West Bank and Gaza
False Saint Kitts and Nevis Saint Kitts and Nevis Laos
True Kosovo Kosovo Kosovo
True Burma Burma Burma
True MS Zaandam MS Zaandam MS Zaandam
True Botswana Botswana Botswana
True Burundi Burundi Burundi
True Sierra Leone Sierra Leone Sierra Leone
True Malawi Malawi Malawi
True South Sudan South Sudan South Sudan
True Western Sahara Western Sahara Western Sahara
True Sao Tome and Principe Sao Tome and Principe Sao Tome and Principe
True Yemen Yemen Yemen
True Comoros Comoros Comoros
True Tajikistan Tajikistan Tajikistan
True Lesotho Lesotho Lesotho

In [7]:
cols = confirmed_df.keys()
print(cols)

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '7/24/20', '7/25/20', '7/26/20', '7/27/20', '7/28/20', '7/29/20',
       '7/30/20', '7/31/20', '8/1/20', '8/2/20'],
      dtype='object', length=198)

In [8]:
confirmed = confirmed_df.loc[:, cols[4]:cols[-1]]
deaths = deaths_df.loc[:, cols[4]:cols[-1]]
recoveries = recoveries_df.loc[:, cols[4]:cols[-1]]

In [9]:
dates = confirmed.keys()
world_cases = []
total_deaths = [] 
mortality_rate = []
recovery_rate = [] 
total_recovered = [] 
total_active = [] 

china_cases = [] 
italy_cases = []
us_cases = [] 
spain_cases = [] 
france_cases = [] 
germany_cases = [] 
uk_cases = [] 
russia_cases = [] 
brazil_cases = []
india_cases = []
peru_cases = [] 

china_deaths = [] 
italy_deaths = []
us_deaths = [] 
spain_deaths = [] 
france_deaths = [] 
germany_deaths = [] 
uk_deaths = [] 
russia_deaths = []
brazil_deaths = [] 
india_deaths = []
peru_deaths = []

china_recoveries = [] 
italy_recoveries = []
us_recoveries = [] 
spain_recoveries = [] 
france_recoveries = [] 
germany_recoveries = [] 
uk_recoveries = [] 
russia_recoveries = [] 
brazil_recoveries = [] 
india_recoveries = [] 
peru_recoveries = [] 

for i in dates:
    confirmed_sum = confirmed[i].sum()
    death_sum = deaths[i].sum()
    recovered_sum = recoveries[i].sum()
    
    # confirmed, deaths, recovered, and active
    world_cases.append(confirmed_sum)
    total_deaths.append(death_sum)
    total_recovered.append(recovered_sum)
    total_active.append(confirmed_sum-death_sum-recovered_sum)
    
    # calculate rates
    mortality_rate.append(death_sum/confirmed_sum)
    recovery_rate.append(recovered_sum/confirmed_sum)

    # case studies 
    china_cases.append(confirmed_df[confirmed_df['Country/Region']=='China'][i].sum())
    italy_cases.append(confirmed_df[confirmed_df['Country/Region']=='Italy'][i].sum())
    us_cases.append(confirmed_df[confirmed_df['Country/Region']=='US'][i].sum())
    spain_cases.append(confirmed_df[confirmed_df['Country/Region']=='Spain'][i].sum())
    france_cases.append(confirmed_df[confirmed_df['Country/Region']=='France'][i].sum())
    germany_cases.append(confirmed_df[confirmed_df['Country/Region']=='Germany'][i].sum())
    uk_cases.append(confirmed_df[confirmed_df['Country/Region']=='United Kingdom'][i].sum())
    russia_cases.append(confirmed_df[confirmed_df['Country/Region']=='Russia'][i].sum())
    brazil_cases.append(confirmed_df[confirmed_df['Country/Region']=='Brazil'][i].sum())
    india_cases.append(confirmed_df[confirmed_df['Country/Region']=='India'][i].sum())
    peru_cases.append(confirmed_df[confirmed_df['Country/Region']=='Peru'][i].sum())
    
    # moving average for case studies 
    china_deaths.append(deaths_df[deaths_df['Country/Region']=='China'][i].sum())
    italy_deaths.append(deaths_df[deaths_df['Country/Region']=='Italy'][i].sum())
    us_deaths.append(deaths_df[deaths_df['Country/Region']=='US'][i].sum())
    spain_deaths.append(deaths_df[deaths_df['Country/Region']=='Spain'][i].sum())
    france_deaths.append(deaths_df[deaths_df['Country/Region']=='France'][i].sum())
    germany_deaths.append(deaths_df[deaths_df['Country/Region']=='Germany'][i].sum())
    uk_deaths.append(deaths_df[deaths_df['Country/Region']=='United Kingdom'][i].sum())
    russia_deaths.append(deaths_df[deaths_df['Country/Region']=='Russia'][i].sum())
    brazil_deaths.append(deaths_df[deaths_df['Country/Region']=='Brazil'][i].sum())
    india_deaths.append(deaths_df[deaths_df['Country/Region']=='India'][i].sum())
    peru_deaths.append(deaths_df[deaths_df['Country/Region']=='Peru'][i].sum())
    
    china_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='China'][i].sum())
    italy_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='Italy'][i].sum())
    us_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='US'][i].sum())
    spain_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='Spain'][i].sum())
    france_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='France'][i].sum())
    germany_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='Germany'][i].sum())
    uk_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='United Kingdom'][i].sum())
    russia_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='Russia'][i].sum())
    brazil_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='Brazil'][i].sum())
    india_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='India'][i].sum())
    peru_recoveries.append(recoveries_df[recoveries_df['Country/Region']=='Peru'][i].sum())

In [10]:
recoveries = [["china"]+china_recoveries, 
["italy"]+italy_recoveries,
["us"]+us_recoveries, 
["spain"]+spain_recoveries, 
["france"]+france_recoveries, 
["germany"]+germany_recoveries, 
["uk"]+uk_recoveries, 
["russia"]+russia_recoveries, 
["brazil"]+brazil_recoveries, 
["india"]+india_recoveries, 
["peru"]+peru_recoveries]

In [11]:
deaths = [["china"]+china_deaths, 
["italy"]+italy_deaths,
["us"]+us_deaths, 
["spain"]+spain_deaths, 
["france"]+france_deaths, 
["germany"]+germany_deaths, 
["uk"]+uk_deaths, 
["russia"]+russia_deaths, 
["brazil"]+brazil_deaths, 
["india"]+india_deaths, 
["peru"]+peru_deaths]

In [12]:
cases = [["china"]+china_cases, 
["italy"]+italy_cases,
["us"]+us_cases, 
["spain"]+spain_cases, 
["france"]+france_cases, 
["germany"]+germany_cases, 
["uk"]+uk_cases, 
["russia"]+russia_cases, 
["brazil"]+brazil_cases, 
["india"]+india_cases, 
["peru"]+peru_cases]

In [13]:
columns = np.append(["country"],dates)
recoveries_df = pd.DataFrame(data=recoveries, columns=columns)
deaths_df = pd.DataFrame(data=deaths, columns=columns)
cases_df = pd.DataFrame(data=cases, columns=columns)

In [14]:
index=["cases", "total_deaths", "total_recovery", "total_active", "mortality_rate", "recovery_rate"]
data = [
    world_cases,
    total_deaths,
    total_recovered,
    total_active,
    mortality_rate,
    recovery_rate
]
world_summary = pd.DataFrame(data=data, index=index, columns=dates)

In [15]:
recoveries_df.to_csv(os.path.join("data",'recoveries_data.csv'))
deaths_df.to_csv(os.path.join("data",'deaths_data.csv'))
cases_df.to_csv(os.path.join("data",'cases_data.csv'))
world_summary.to_csv(os.path.join("data",'world_data.csv'))

In [16]:
confirmed_cases = cases_df.loc[cases_df["country"] == "china"]["7/27/20"][0]
print(confirmed_cases)
#cases_df.loc[cases_df["country"] == str(country)][str(date)][0]

86783

In [40]:
world_summary["2/1/20"].to_list()

[12038.0, 259.0, 284.0, 11495.0, 0.021515201860774213, 0.023591958797142383]

In [45]:
cases_df['toto'] = 0

In [59]:
n = cases_df.append({'country' : 'Sahil', 'Age' : 1}, ignore_index=True).fillna(0)

In [60]:
n

,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20,8/1/20,8/2/20,toto,Age
0,china,548.0,643.0,920.0,1406.0,2075.0,2877.0,5509.0,6087.0,8141.0,...,86570.0,86783.0,86990.0,87213.0,87489.0,87655.0,87827.0,87985.0,0.0,0.0
1,italy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,246118.0,246286.0,246488.0,246776.0,247158.0,247537.0,247832.0,248070.0,0.0,0.0
2,us,1.0,1.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,...,4233923.0,4290337.0,4356206.0,4426982.0,4495015.0,4562038.0,4620444.0,4667955.0,0.0,0.0
3,spain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,272421.0,278782.0,280610.0,282641.0,285430.0,288522.0,288522.0,288522.0,0.0,0.0
4,france,0.0,0.0,2.0,3.0,3.0,3.0,4.0,5.0,5.0,...,217801.0,220352.0,221077.0,221077.0,222469.0,225197.0,225198.0,225198.0,0.0,0.0
5,germany,0.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,...,206667.0,207112.0,207707.0,208546.0,209535.0,210399.0,211005.0,211220.0,0.0,0.0
6,uk,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,301020.0,301708.0,302261.0,303063.0,303910.0,304793.0,305562.0,306309.0,0.0,0.0
7,russia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,811073.0,816680.0,822060.0,827509.0,832993.0,838461.0,843890.0,849277.0,0.0,0.0
8,brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2419091.0,2442375.0,2483191.0,2552265.0,2610102.0,2662485.0,2707877.0,2733677.0,0.0,0.0
9,india,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1435616.0,1480073.0,1531669.0,1581963.0,1634746.0,1695988.0,1750723.0,1803695.0,0.0,0.0
10,peru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,375961.0,389717.0,395005.0,400683.0,400683.0,407492.0,407492.0,428850.0,0.0,0.0
11,Sahil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [66]:
#cases_df.loc[cases_df["country"]=="italy"].index[0]
cases_df.loc[0,"1/22/20"] = 1
#["1/22/20"] = 0

In [68]:
cases_df.columns.to_list()[0]

'country'

In [67]:
cases_df

,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20,8/1/20,8/2/20,toto
0,china,1,643,920,1406,2075,2877,5509,6087,8141,...,86381,86570,86783,86990,87213,87489,87655,87827,87985,0
1,italy,0,0,0,0,0,0,0,0,0,...,245864,246118,246286,246488,246776,247158,247537,247832,248070,0
2,us,1,1,2,2,5,5,5,5,5,...,4178970,4233923,4290337,4356206,4426982,4495015,4562038,4620444,4667955,0
3,spain,0,0,0,0,0,0,0,0,0,...,272421,272421,278782,280610,282641,285430,288522,288522,288522,0
4,france,0,0,2,3,3,3,4,5,5,...,217801,217801,220352,221077,221077,222469,225197,225198,225198,0
5,germany,0,0,0,0,0,1,4,4,4,...,206278,206667,207112,207707,208546,209535,210399,211005,211220,0
6,uk,0,0,0,0,0,0,0,0,0,...,300270,301020,301708,302261,303063,303910,304793,305562,306309,0
7,russia,0,0,0,0,0,0,0,0,0,...,805332,811073,816680,822060,827509,832993,838461,843890,849277,0
8,brazil,0,0,0,0,0,0,0,0,0,...,2394513,2419091,2442375,2483191,2552265,2610102,2662485,2707877,2733677,0
9,india,0,0,0,0,0,0,0,0,1,...,1385635,1435616,1480073,1531669,1581963,1634746,1695988,1750723,1803695,0
10,peru,0,0,0,0,0,0,0,0,0,...,375961,375961,389717,395005,400683,400683,407492,407492,428850,0